<h3><%= @document.project.name %></h3>

<p>
  <%= raw @document.content.gsub! "\n", '<br>' %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', project_path(@document.project) %>
