<h3>Your projects</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project %></td>
      <td><%= link_to bs_icon('edit'), edit_project_path(project) %></td>
      <td><%= link_to bs_icon('remove'), project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to bs_icon('plus', 'Add project'), new_project_path, class: 'btn btn-primary' %>